<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="/static/thirdparty/bootstrap.css">

        <title>puccinia</title>
    </head>
    <body class="container" onload="onload()">
        <h3>puccinia</h3>

        <br/>
        <h4>Total: {{total}}</h4>

        {{#if wallets}}
            <br/>
            <h4>Wallets</h4>
            <table class="table table-bordered table-hover table-sm">
                <tbody>
                    {{#each wallets}}
                        <tr>
                            <td><a href="/wallet/{{wallet.id}}">{{wallet.name}}</a></td>
                            <td align="right">{{total}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        {{/if}}

        <br>
        <h4>Charts</h4>
        <div id="charts"></div>

        <script src="/static/thirdparty/chart.js"></script>
        <script src="/static/thirdparty/moment.js"></script>
        <script src="/static/util.js"></script>
        <script src="/static/index.js"></script>
    </body>
</html>
