<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>puccinia</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    </head>
    <body class="container">
        <h3>puccinia</h3>

        <br/>
        <h4>Total: {{total}}</h4>

        {{#if wallets}}
            <br/>
            <h4>Wallets</h4>
            <table class="table table-bordered table-hover table-sm">
                <tbody>
                    {{#each wallets}}
                        <tr>
                            <td><a href="/wallet/{{wallet.id}}">{{wallet.name}}</a></td>
                            <td align="right">{{total}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        {{/if}}
    </body>
</html>
